* {
  box-sizing: border-box;
}
body {
  background-image: url(../../img/jpg/lake_crason.jpg);
  background-size: 100vw 100vh;
  font-family: 'Lato', sans-serif;
}


a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

.img_film {
  height: 35%;
  width: 35%;
  margin-top: 30px;
  margin-right: 20px;
}

.name {
  font-size: 60px;
  margin-top: 30px;
  margin-left: 15px;
}

.title {
  font-size: 30px;
  margin-top: 5px;
  margin-left: 15px;
}

.image_icon {
  width: calc(100% - 140px);
  margin: 20px 70px 0 70px;
}

.projects {
  display: flex;
  width: 80%;
  margin-top: 25vh;
  margin-bottom: 12vh;
}

.project_name {
  color: white;
}

.nav-bar {
  display: inline-flex;
  list-style: none;
  vertical-align: middle;
  margin-right: 20px;
}

.nav-item {
  font-size: 30px;
  vertical-align: middle;
  margin-left: 30px;
}

.nav-link1 {
  margin-left: 0;
}
footer {
  text-align: center;
}
